/* General Styles */
body {
    background-color: #DFD0B8; /* Light Beige background */
    color: #153448; /* Dark Blue text */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

a {
    color: #3C5B6F; /* Medium Blue links */
}

a:hover {
    color: #948979; /* Warm Gray links on hover */
}

/* Hero Section */
.hero {
    background: #2f4f4f; /* Medium Blue background */
    color: white;
}

.hero-overlay {
    background: rgba(21, 52, 72, 0.8); /* Semi-transparent overlay with #153448 color */
    padding: 100px 0;
}

/* Navbar */
.navbar-custom {
    background-color: #153448; /* Navbar background color */
}

.nav-link-custom {
    color: #0c3754 !important; /* Navbar link color */
    margin-right: 15px; /* Even spacing between links */
    font-weight: 500;
}

.nav-link-custom:hover {
    color: #660e0e !important; /* Warm Gray on hover */
}

/* Buttons */
.btn-custom {
    background-color: #3C5B6F;
    border-color: #3C5B6F;
    color: #DFD0B8; /* Light Beige text for better contrast */
}

.btn-custom:hover {
    background-color: #948979;
    border-color: #948979;
    color: #153448 !important; /* Dark Blue text for better contrast on hover */
}

.btn-custom-contrast {
    background-color: #3587DC;
    border-color: #3587DC;
    color: #DFD0B8; /* Light Beige text for better contrast */
}

.btn-custom-contrast:hover {
    background-color: #660e0e;
    border-color: #660e0e;
    color: #DFD0B8 !important; /* Light Beige text for better contrast on hover */
}

/* Containers */
.container-custom {
    background-color: #DFD0B8; /* Light Beige container background */
    border: 1px solid #3C5B6F; /* Medium Blue border */
    padding: 20px;
    border-radius: 5px;
}

/* Text */
.text-custom {
    color: #153448; /* Dark Blue text */
}

/* Pagination */
.pagination-custom {
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

.pagination-custom a {
    margin: 0 5px;
    text-decoration: none;
    padding: 8px 12px;
    border: 1px solid #153448;
    color: #153448;
    border-radius: 5px;
}

.pagination-custom a:hover {
    background-color: #153448;
    color: white;
}

/* Footer */
html, body {
    height: 100%;
}

footer {
    background-color: #f8f9fa;
    color: #8e9da7;
    text-align: center;
    padding: 10px 0;
    /* position: relative; */
    /* bottom: 0; */
    width: 100%;
    margin-top: auto;
}

.container {
    flex: 1;
}

/* Profile Settings */
.profile-container {
    max-width: 600px;
    margin: 0 auto;
}
.form-group {
    margin-bottom: 1.5rem;
}

/* admin page */
th {
    cursor: pointer;
}
th.sort-asc::after {
    content: " ↑";
}
th.sort-desc::after {
    content: " ↓";
}